STRUCTURE:
    part(
        Frase,
        subparts[
            (Determinante, attributes{genero}),
            (Nome, attributes{genero}),
            (Verbo)
        ]
    )

ERRORS:
    Frase.Determinante->genero = "masculino" AND Frase.Nome->genero = "feminino";
    Frase.Determinante->genero = "feminino" AND Frase.Nome->genero = "masculino";
    
    Frase.Determinante->genero != "masculino" AND Frase.Determinante->genero != "feminino";
    Frase.Nome->genero != "masculino" AND Frase.Nome->genero != "feminino";
