#page_content {
    animation: transitionIn 0.75s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}




table, tr {
    border: 5px solid #4CAF50;
    font-size: 15px;
    background-color: #f2f2f2
}

/* STRUCTURE */
#flip1 {
    padding: 10px;
    text-align: center;
    background-color: rgb(239, 239, 239);
    border: solid 4px rgb(140, 187, 251);
}
#panel1 {
    padding: 10px;
    text-align: left;
    background-color: rgb(239, 239, 239);
}
#panel1 {
    padding: 50px;
    display: none;
}

/* ERRORS */
#flip2 {
    padding: 10px;
    text-align: center;
    background-color: rgb(239, 239, 239);
    border: solid 4px rgb(140, 187, 251);
}
#panel2 {
    padding: 10px;
    text-align: left;
    background-color: rgb(239, 239, 239);
}
#panel2 {
    padding: 50px;
    display: none;
}

/* INPUT */
#flip3 {
    padding: 10px;
    text-align: center;
    background-color: rgb(239, 239, 239);
    border: solid 4px rgb(140, 187, 251);
}
#panel3 {
    padding: 10px;
    text-align: left;
    background-color: rgb(239, 239, 239);
}
#panel3 {
    padding: 50px;
    display: none;
}


body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

.sidenav {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidenav a, .dropdown-btn {
    padding: 16px;
    text-decoration: none;
    color: black;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.sidenav a.active {
    background-color: rgb(140, 187, 251);
    color: white;
}

.sidenav a:hover:not(.active), .dropdown-btn:hover:not(.active) {
    background-color: #555;
    color: white;
    transition: 0.25s background-color;
}

.active {
    background-color: rgb(140, 187, 251);
    color: white;
}

.dropdown-container {
    display: none;
    background-color: #f1f1f1;
    padding-left: 10px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidenav a { float: left; }
    div.content { margin-left: 0; }
}

@media screen and (max-width: 400px) {
    .sidenav a {
        text-align: center;
        float: none;
    }
}




#feedback_form {
    border: 2px solid rgb(140, 187, 251);
    padding: 20px;
}
