doctype html
html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='javascripts/slides.js')
    body
        div(class='sidebar')
            a(id='menu_home' href='/') Home
            a(id='menu_tool' href='/tool') Tool
            a(id='menu_dsl' href='/dsl') DSL
            a(id='menu_feedback' href='/feedback') Feedback
