include _layout.pug

title Lyntax - About

div(id='page_content' class='content')
    h2(style='margin-top: 20px;')
        | About

    div(class='w3-container')
        p
            | In construction...
                
    script.
        $('#menu_about').addClass('active');
