include _layout.pug

title Lyntax - Download

div(id='page_content' class='content')
    h2(style='margin-top: 20px;')
        | Download

    div(class='w3-container')
        ul
            li
                a(href="/lyntax/download/cli", style="color: rgb(140, 187, 251);") Command Line Interface

            pre

            li
                a(href="/lyntax/download/gui", style="color: rgb(140, 187, 251);") Graphical User Interface
                strong  [Beta Version]

    script.
        $('#menu_tool').addClass('active');
