include _layout.pug

title Lyntax - Download

div(id='page_content' class='content')
	h2(style='margin-top: 20px;')
		| Download

	div(class='w-container')
		p
			| Lyntax is compatible with 
			strong Windows 
			| and 
			strong Unix 
			| systems.
		
		ul
			li
				a(href="/lyntax/download/cli", style="color: rgb(140, 187, 251);") Command Line Interface
				span(style="font-size: 13px; color: rgb(128, 128, 128);")  (*nix systems)
				span(style="font-size: 10px;")  :: (December 2020)
				br
				span(style="font-size: 14px; color: rgb(235, 79, 67);") Notes: 
				span(style="font-size: 13px; color: rgb(128, 128, 128);")
					ul
						li
							| Includes sources.

			pre

			li
				a(href="/lyntax/download/gui", style="color: rgb(140, 187, 251);") Graphical User Interface
				span(style="font-size: 10px;")  :: (December 2020)
				br
				span(style="font-size: 14px; color: rgb(235, 79, 67);") Notes: 
				span(style="font-size: 13px; color: rgb(128, 128, 128);")
					ul
						li
							| To run the program, simply double click the JAR file.
						li
							| The "Resources" folder should not be deleted, or any of the contents inside it.


	script.
		$('#menu_tool').addClass('active');
