include _layout.pug

title Lyntax - Home

div(id='page_content' class='content')
    h2(style='margin-top: 20px;')
        | Applying Attribute Grammars to teach Linguistic Rules

    div(class='w3-container')
        p
            | Using the formalisms of attribute grammars, the main goal of this study is to create a tool
            | to help linguistics students learn and study the different rules of natural language.
            
            ul
                li
                    | Build a DSL with a simple notation such that any person that does not have experience
                    | with common programming language elements could quickly use and grasp.
                li
                    | Connect this notation with a visual component to allow the visualization of
                    | different natural language syntax trees.
        
    script.
        $('#menu_home').addClass('active');
