include _layout.pug
style.
    hr {
        height: 3px;
        background-color: rgb(140, 187, 251);
    }

div(id='page_content' class='content')
    h2(id='information', style='margin-top: 20px;') Information
    
    div(class='w3-container')
        p
            | The main purpose of this tool is to generate ANTLR instructions based on a previously created specification. 
            | This specification is written in a Domain Specific Language (Meta-Grammar) that allows the definition of possible sentence structures. 
            | When processed, a file called 
            em Grammar.g4 
            | is generated, which corresponds to the ANTLR instructions for the recognition of a sentence. 
            | Then, by processing the new generated file and by giving input accordingly, a visual syntax parse tree allows for a better analysis of the input.
        br

        h3(id='folder-structure') Versions
        ul
            li
                p
                    strong CLI
                    |  - command line version of the tool.
                ul
                    li
                        p
                            | Allows for a quick and easy usage of the tool (only works on UNIX).
                    li
                        p
                            | Source code of the Meta-Grammar as well as a Makefile for recompilation.
            li
                p
                    strong GUI
                    |  - graphical user interface that acts like a wrapper.
                ul
                    li
                        p
                            | Composed of two main text areas that correspond to the Rules and Input blocks.
                    li
                        p
                            | Allows for the generation of the specific grammar and analysis of the input.
                    li
                        p
                            | Can be used as an editor for the specification.
    hr
    
    h2(id='usage', style='margin-top: 20px;') Usage
    div(class='w3-container')
        p The CLI version has an included help message to explain which options are available, and how to use them.
        
        pre.
            $ tool -h

            tool
            Linguistic rules for beginners.

            USAGE:
                | tool [-h | help]
                | tool [-g | generate] &lt;RULES&gt; &lt;INPUT&gt;
                | tool [-r | run]
                | tool [-c | clean]

            OPTIONS:
                -h, help              Help message.
                -c, generate          Generates Grammar sources.
                -r, run               Compiles Grammar sources, running it given the sentence as input.
                -c, clean             Cleans files.

            ARGS:
                &lt;RULES&gt;               Sentence rules (STRUCTURE + ERRORS blocks).
                &lt;INPUT&gt;               Parsed input (INPUT block).
        
        br
        p As for the GUI version (compiled as a JAR file), the interaction is pretty straight forward.
    
    hr

    h2(id='dependencies') Dependencies
    div(class='w3-container')
        ul
            li
                p
                    strong JDK
                    |  (Java Development Kit)
            li
                p
                    strong ANTLR
                    |  (ANother Tool for Language Recognition)
        br    

    script.
        $('#menu_tool').addClass('active');
