include _layout.pug
style.
    hr {
        height: 3px;
        background-color: rgb(140, 187, 251);
    }

div(id='page_content' class='content')
    h2(id='information', style='margin-top: 20px;') Information
    
    div(class='w3-container')
        p
            | The main purpose of this tool is to generate ANTLR instructions based on a previously created Domain Specific Language.
            | By giving this DSL as input, a 
            em Grammar.g4
            |  is generated, to then be processed and analysed with a graphical tool.
        p
            | Input files must be inside the 
            strong input/
            |  directory. Both files (teacher and student) must have specific names:
        ul
            li
                p
                    strong Teacher
                    | : "rules"
            li
                p
                    strong Student
                    | : "input"
        p
            strong These names can be changed within the Makefile (variables).
        br

        h3(id='folder-structure') Folder Structure
        ul
            li
                p
                    strong src/
                    |  - contains the source code of the tool.
                ul
                    li
                        p
                            strong src/antlr4/
                            |  - contains the meta-grammar of the DSL.
                    li
                        p
                            strong src/java/
                            |  - extra java classes used within the meta-grammar file.
            li
                p
                    strong lib/
                    |  - contains the
                    strong  antlr4 jar
                    |  use in this project (version
                    strong  4.8
                    | ).
            li
                p
                    strong input/
                    |  - folder where all input files should be placed.
    
    hr
    
    h2(id='usage', style='margin-top: 20px;') Usage
    div(class='w3-container')
        p In the Makefile, there are 3 instructions that can be called to use the tool:
        
        pre.
            $ make
            
            *** Usage ***
            
            - meta    (compile + run Meta-Grammar &amp; Generate Grammar)
            - compile (compile Grammar)
            - run     (run Grammar)
            - clean   (remove target and generated grammar)
        
        br
        ul
            li
                p
                    strong meta
                    |  - it will compile and run the meta-grammar for the teacher + student input, check for any syntax and logic errors, and then generate the ANTLR instructions.
            li
                p
                    strong compile
                    |  - it will compile the previously generated grammar.
            li
                p
                    strong run
                    |  - it will run the generated grammar, and create a visual tree of the syntax using the 
                    em TestRig
                    |  tool.
            li
                p
                    strong clean
                    |  - cleans previously created target folder and generated grammar.
    
    hr

    h2(id='dependencies') Dependencies
    div(class='w3-container')
        ul
            li
                p
                    strong JDK
                    |  (Java Development Kit)
            li
                p
                    strong ANTLR
                    |  (ANother Tool for Language Recognition)
        br    

    script.
        $('#menu_tool').addClass('active');
